/*
Google Docs Blue: #4884F3
Mac iMessage Blue: #0362DC
Mac iMessage Green: #03B73A
Mac iMessage "Dark Mode" Background: #1C1C1C
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.shrink-phone {
    font-size: .5px;
}

.message {
  font-size: 12px;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: grey;
  max-width: 75%;
  clear: both;
  position: relative;
}
 .them {
    float: left;
}
.them::after {
      content: "";
      position: absolute;
      left: -0.5em;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-right: 0.5em solid grey;
      border-bottom-right-radius: 1em 0.5em;
}

.me {
    float: right;
    background-color: #03B73A;
    color: white;
}
.me::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0.5em;
      height: 1em;
      border-left: 0.5em solid #03B73A;
      border-bottom-left-radius: 1em 0.5em;
}

#gDoc {
    border: outset 4px #4884F3;
}

.cardButton {
    width: 100% !important;
    background-color: #0362DC !important;
    text-align: center !important;
    border: 1px solid #0362DC !important;
    color: white !important;
}

.cardButton:hover {
    background-color: #03B73A !important;
    border: 1px solid #03B73A !important;
}

.cardButtonContact {
    color: #0362DC !important;
}

.cardButtonContact:hover {
    color: #03B73A !important;
}

.cardButtonFooter {
    background-color: #0362DC !important;
    text-align: center !important;
    color: white !important;
    border: 1px solid #0362DC !important;
}

.cardButtonFooter:hover {
    background-color: #03B73A !important;
    text-align: center !important;
    color: white !important;
    border: 1px solid #03B73A !important;
}

.bg-dark {
    background-color: #1C1C1C !important;
}

.first-letter-title {
    color: #0362DC;
}

hr {
    color: #03B73A;
    background-color: #03B73A;
}

#sendMessage {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
}
